#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.logo {
  width: 100%;
  height: 64.4px;
}

.trigger {
  color: #fff;
  font-size: 18px;
}

.right-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.left-navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.sidebar-mobile {
  z-index: 2 !important;
  position: absolute !important;
  top: 0;
  bottom: 0;
}

a {
  text-decoration: none !important;
}